### IntelliJ IDEA ###
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# User-specific files
*.log
*.tmp
*.swp
*.swo
*.bak

# OS-specific files
.DS_Store
Thumbs.db

# Java
target/
out/

# Maven
log/
*.class

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Others
*.war
*.ear
*.jar

# Logs

# Local environment
.env
.vscode/


!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/decrypted_images
/encrypted_images
/storage